{% extends 'user_nav.html' %}

{% block content %}
<!-- <div class="container-fluid p-0"> -->
    <div class="site">

        <h3 class="container-fluid text-light font-weight-bold text-center mb-4" style="background-color: #112537;">EVENT CALENDER</h3>
        <div style="position: fixed;">
    
            {% if messages %}
            {% for i in messages %}
                {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{i}}</strong>
                        <button type="button" class="close" style="display: inline;" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            
                {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{i}}</strong>
                        <button type="button" class="close" style="display: inline;" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            
        {% endfor %}
        {% endif %}
        </div>


        <div class="section-11">
            <div class="row justify-content-center text-center main-row">
                
<style>
.long-heading {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
</style>
                <div class="col-6 main-col-2 jumbotron m-4">
                    <div class="row sub-row-1 ">
                        {% for i in event %}
                        <!-- {% if forloop.counter <= 6 %} -->

                        <div class="col-2 sub-col-11">
                            <div class="card event-date">
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase">{{ i.date|date:"b" }}</h4>
                                    <h4 class="card-title">{{i.date.day}}</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 sub-col-12">
                            <div class="card event-detail">
                                <div class="card-body">
                                    <h6 class="card-title long-heading">{{i.event_title}}</h6>
                                    <p class="card-text">{{i.time_start}}-{{i.time_start}}</p>
                                    {% if i.is_zoom %}
                                    <a href="https://zoom.us/j/{{ i.zoom_link }}" class="card-link stretched-link" target="_blank">Join Zoom Meeting</a>
                                    {% else %}
                                    <a href="{{ i.youtube_link }}" class="card-link stretched-link" target="_blank">Watch Video</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- {% endif %} -->
                        {% endfor %}

                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
{% endblock content %}