{% extends 'user_nav.html' %}

{% block content %}
<!-- <div class="container-fluid p-0"> -->
    <div class="site">

        <div style="position: fixed;">
    
            {% if messages %}
            {% for i in messages %}
                {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{i}}</strong>
                        <button type="button" class="close" style="display: inline;" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            
                {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{i}}</strong>
                        <button type="button" class="close" style="display: inline;" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            
        {% endfor %}
        {% endif %}
        </div>

        
<h3 class="container-fluid text-light font-weight-bold text-center mb-4" style="background-color: #112537;">MyQueries</h3>
<div class="mt-0 ml-2"><a href="{% url 'qa_teachv' %}" class="btn btn-dark  text-light btn-sm mr-auto" >BACK</a></div>
    <div class="container">
        {% if question %}
        <div class="jumbotron mt-4">
            <ul class="list-group">
                {% for i in question %}
                <li class="list-group-item">
                    <span class="text-secondary small">{{i.datetime}}</span><br>
                    <span class="lead"><b class="text-danger ">Question: </b><b>{{i.question}}</b></span><br>
                
                    <span class="ml-auto">
                    <a href="{% url 'qa_ansv' i.id %}" class="btn btn-info btn-sm mr-auto" >VIEW ANSWER</a>
                    <a href="{% url 'qa_dlt_quest' i.id %}" class="btn btn-warning btn-sm mr-auto" onclick=" return confirm('Are you sure?')" >DELETE</a>
                    </span>
                </li>

                {% endfor %}
                
            </ul>  
                          
        </div>
        {% endif %}
    </div>



</div>
<!-- </div> -->
{% endblock content %}