{% extends 'stud_nav3.html' %}

{% block content %}


<div style="position: fixed;">
    
    {% if messages %}
    {% for i in messages %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{i}}</strong>
                <button type="button" class="close" style="display: inline;" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    
        {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{i}}</strong>
                <button type="button" class="close" style="display: inline;" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    
{% endfor %}
{% endif %}
</div>

<h3 class="container-fluid text-dark font-weight-bold text-center mt-3">TEST PAPER</h3>

                <div class="justify-content-center jumbotron p-2 m-6 " style="margin-left: 15%; margin-right: 15%;">
                    <!-- <p><strong class="text-info">Tutorial:</strong> {{ assignment.tutorial.title }}</p>
                    <p><strong class="text-info">Topic:</strong> {{ assignment.topic }}</p>
                    <p><strong class="text-info">Guidelines</strong> {{ assignment.description }}</p> -->
                    {% if test_mark %}
                                <h4 class="text-center"><strong class="text-success">Upon participating in the test, your score is : </strong> 

                                <span class="font-weight-bold text-danger">{{ test_mark.mark }} / {{test_mark.test.no_questions}}</span></h4>
                                <a href="{% url 'stud_test_list' %}" class="btn btn-info">BACK</a>
                    {% else %}
                    <form action="" class="form-group " method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for question, form in questions %}
                                <p><strong class="text-primary">Question:</strong> {{ question.question }}</p>
                                <p><strong class="text-info">A: </strong>{{ question.A }}</p>
                                <p><strong class="text-info">B: </strong>{{ question.B }}</p>
                                <p><strong class="text-info">C: </strong>{{ question.C }}</p>
                                <p><strong class="text-info">D: </strong>{{ question.D }}</p>
                                                           
                                <p><strong class="text-danger">Answer: {{ form.answer }}</strong></p>                                                                   
                        {% endfor %}
                            <div class="text-end">
                                <button class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
  </div>




{% endblock content%}