{% extends 'stud_nav.html' %}

{% block content %}
<!-- <div class="container-fluid p-0"> -->
        <h3 class="container-fluid  text-dark font-weight-bold text-center">TUTORIAL</h3>
        <div style="position: fixed;">
    
            {% if messages %}
            {% for i in messages %}
                {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{i}}</strong>
                        <button type="button" class="close" style="display: inline;" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            
                {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{i}}</strong>
                        <button type="button" class="close" style="display: inline;" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            
        {% endfor %}
        {% endif %}
        </div>

        
<div class="site-stud">
    <h3 class="container-fluid text-light font-weight-bold text-center mt-3" style="background-color: #112537;">{{crs.course_name}}</h3>
    <div class="mt-0 ml-2"><a href="{% url 'bcourse_list' %}" class="btn btn-dark text-light">BACK</a></div>
<div class="row"> 
{% for i in tutorial %}

        <div class="col-md-2 col-sm-10 m-4">
            <div class="card" height="400px">
                <video class="card-img-top" controls  >
                    <source src="{{ i.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="card-body">                    
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-text small"><span class="text-info font-weight-bold">{{ i.date_time}}</span></p>                        
                        <a class=" btn btn-warning" href="{% url 's_tut_id' i.id %}" >VIEW</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<!-- </div> -->
{% endblock content %}